* {
    font-family: "Open Sans", sans-serif;
}

:root {
    --gray-light: #c5c5c5;
    /* --secondary-lighter: rgba(98, 98, 98, 40%); */
    --secondary: #626262;
    --primary: #BB8F42;
    /* button hover */
    --primary-darker: #a57e3b;
}

html {
    font-size: 14px;
}
body {
    background-color: #bb8f4247;
}



 /*//////////////////////////////////
 ///////// BUTTONS */

/* BTN-VRT-PRIMARY */
.btn-vrt-primary {
    min-width: 130px;
    padding: 5px 20px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    color: white;
}
.btn-vrt-primary:hover {
    background-color: var(--primary-darker);    
}
.btn-vrt-primary:disabled {
    background-color: var(--primary);
    opacity: 0.65;
}

/* BTN-VRT-OUTLINE-PRIMARY */
.btn-vrt-outline-primary {
    background-color: transparent;
    min-width: 130px;
    border: 2px solid var(--primary);
    color: var(--secondary);
    padding: 5px 20px;
    border-radius: 5px;
}
.btn-vrt-outline-primary:hover {
    background-color: var(--gray-light);
}
.btn-vrt-outline-primary:disabled {
    background-color: var(--gray-light);
    opacity: 0.65;
}



 /*//////////////////////////////////
 ///////// SCROLL TO TOP ICON */
.scroll-icon-inner {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: var(--secondary);
    position: fixed;
    bottom: 4.8rem;
    left: 2.8rem;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

